<% provide(:title, "Contact") %>

<h1>Contact Us</h1>
<p>
	Please don't. Really, we're not people persons.<br><br>

	Fine. But we're not going to reply, just FYI.<br><br>

	Matt McCormick - mccormick.ms@gmail.com<br><br>

	Christopher Ducusin - christopher.ducusin@yahoo.com<br><br>

	Christoph Spilker - joeheart1@gmail.com


</p>

