<h1> Job Listing </h1>
<hr>
<font size="6"> Super Important Job </font>
<font size='3'> Posted by</font> <%= link_to 'Super Man'>
<p> I need someone to help me move some furniture into my house.
    There are 5 Total peices: A Dining Table, A Couch, 2 chairs, and a piano.
    Pays for $50 but I am willing to negotiate.
</p><br>
<font size="4"><b> Address:</b> 456 Real Street, Real City, CA 55555 <br>
<b> Date: </b> Any <br>
<b> Time: </b> 6pm-10pm
<b> Salary: </b> $50
</font> 