
<%= image_tag("placeholder-user.png", size:"180", align:'left')%>
<div align='left' style="margin:10px 0 0 10px">
<font size='24'> User Name</font> 
</div><hr>
<div style="margin:0 0 0 190px ">
<%= link_to "Edit User", '/demoUserpage',style: "color:#FFFFFF", class: "btn btn-primary" %>
<%= link_to "Post Job", '/jobs/new',style: "color:#FFFFFF", class: "btn btn-primary" %>
<%= link_to "Search Jobs", '/demoSearch',style: "color:#FFFFFF", class: "btn btn-primary" %>
<h3> User Description </h3>
<p> No information givent </p>
<hr>
<h3> Address </h3>
<p> No address specified </p>
</div> <!--End of margin Div-->


