<% provide(:title, "Login") %>
<center>
<form>
<h3>Email<br>
</h3>
<input type="text"><br>
<h3>Password<br>
</h3>
<input type="password"><br>
</form>
<br>
<%= link_to "Login", '/demoUserpage', style: "color:white", class: "btn btn-lg btn-primary" %>

</center>