<% provide(:title, "Home") %>

<div class="center jumbotron">
	<h1>Chore Weasel</h1>

	<h2>
		<p>
			We do stuff you don't want to, and you pay us!
		</p>
	</h2>

	<%= link_to "Sign up now!", 'users/new', style: "color:white", class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("friendly-ferret.png", alt: "Ferret takes out trash") %>

