<% provide(:title, "Home") %>

<h1>Chore Weasel</h1>
<p>
	We do stuff you don't want to, if you pay us. We may not though, depends how we feel.<br><br>

	<a href="http://localhost:3000/jobs">Jobs available</a><br><br>
	<a href="http://localhost:3000/static_pages/about">About Us</a><br><br>
	<a href="http://localhost:3000/static_pages/help">Help</a><br><br>
	<a href="http://localhost:3000/static_pages/contact">Contact Us</a><br><br>
</p>

