



<style>
table {
    border-collapse: collapse;
    width: 100%;
}
td, th{
    border: 1px solid gray;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
<h1> Job Search Results </h1>

<hr>
<table>
    <tr data-href = "<%= show  %>">
        <th>Job Title</th>
        <th>Description</th>
        <th>Distance</th>
        <th>Pay</th>
    </tr>
    <tr>
        <td><%= link_to 'Super Important Job', '/demoJob'%></td>
        <td>Need someone to help move some furniture</td>
        <td> 5.43 mi.</td>
        <td> $50 </td>
    </tr>
    
</table>

